body {
    font-family: Arial, Helvetica, sans-serif;
    /* background: linear-gradient(#3f8cff); */
    background: linear-gradient(#009dff 3%, rgb(68, 2, 121));
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    /* border: 1px solid white; */
    background-color: #0e58a3;
    height: 80px;
    align-items: center;
    2
    

}

.navegacao {
    display: flex;
    align-items: center;
    height: 80px;
    font-weight: 5;
    font-size: 17px;
    margin: 0;



}

.navegacao a:hover {
    color: rgb(221, 6, 245);
    transition: 0.5s ease;

}

ul,
li {
    display: flex;
    justify-content: center;
    width: 50%;
}

a {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    
    text-decoration-color: rgb(252, 250, 250);
    text-decoration-thickness: 1px;
}

.cadastrar {
    display: flex;
    justify-content: end;
    width: 50%;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    align-items: center;
    color: rgb(209, 237, 253);
    margin: 30px;
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.imagem {

    width: 50%;
    display: flex;
    justify-content: center;
    padding: 20px;

}

.ft2 {
    width: 67%;
    border-radius: 50%;
    border: 1px dashed white;
    padding: 17px;
    clip-path: inset(0 0 0 0);
    border-radius: 50%;
    transition: 1s;

}

.ft2:hover {
    scale: 1.01;
}

.btn-entrar {
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px 40px;
    align-items: center;
    font-size: 14px;
    margin-top: 30px;
    background-color: #3a88fc;
    color: white;
}

.btn-entrar:hover {
    color: rgb(72, 72, 231);
    cursor: pointer;
    transition: 0.5s ease;
    border: none;

}

.imagemLogo {
    width: 150px;
    margin: 0;
    float: left;
    margin-right: 10px;
}

.ft1 {
    width: 67%;

}

footer {
    color: #f5f5f5;
    text-align: center;
    padding: 8px 10px;
    /* mais compacto */
    font-size: 13px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 60;
}

.login{
    background: radial-gradient( rgb(255, 255, 255) , rgb(255, 255, 255)) ;
    width: 90px;
    margin-right: 0;
    border-radius: 50px 0 0 50px;
    color: rgb(1, 1, 54);
    
    padding: 8px;
    padding-left: 40px;
}